.desktop-child {
    height: 106px;
    width: 78px;
    position: relative;
    border-radius: 50%;
    background-color: #d9d9d9;
  }
  .desktop {
    position: relative;
    background-color: #af2f2f;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 21px 30px 20px;
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
  }